article
    line-height: 1.5;

    p
        margin: 0.75rem 0;

    ul, ol
        margin: 0.75rem 0;
        padding: 0 0 0 3ch;

    h1
        font-size: 4rem;
        margin: 3rem 0 3rem -1ch;
        font-weight: 375;

        .api-doc-declaration, .api-doc-declaration .api-doc-link.anchor
            font-weight: 375;

        &:first-child
            margin-top: 0;

    h2
        font-size: 2rem;
        margin: 3rem 0 1.5rem -2ch;
        font-weight: 560;

    h3
        font-size: 1rem;
        margin: 3rem 0 0.75rem -2ch;
        font-weight: 800;

    h2 + h3
        margin-top: 1.5rem;

    h4
        font-size: 1rem;
        margin: 0.75rem 0;
        font-weight: 600;
