@import './fonts.styl';
@import './colors.styl';

body
    font-family: BodyText, sans-serif;
    color: BodyTextColor;

pre, code, kbd
    font-family: CodeText, monospace;

linkIndentDistance = 0.1em;

a
    text-decoration: none;
    color: BodyTextColor;
    padding: 0 linkIndentDistance;
    margin: 0 0 - linkIndentDistance;
    box-shadow: 0 -0.2em 0 alpha(AccentColor, 15%) inset;

    &:hover
        box-shadow: 0 -0.6em 0 alpha(AccentColor, 20%) inset;

    &:active
        box-shadow: 0 -0.6em 0 alpha(AccentColor, 40%) inset;