name: Pull Request

on: [pull_request]

jobs:
  pr-build:
    name: PR Build and Unit Test
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest] # All operating systems
        node-version: [14.x, 16.x] # Current and LTS. No history versions

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: NPM Setup
      run: |
        npm run init
      env:
        CI: true
    - name: Building
      run: |
        npm run build
        npm run lint
      env:
        CI: true
    - name: Unit test
      run: |
        npm run test
      env:
        CI: true

  production-build:
    name: PR Production Build
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest] # All operating systems
        node-version: [14.x, 16.x] # Current and LTS. No history versions

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: NPM Setup
      run: |
        npm run init:prod
      env:
        CI: true
    - name: Building
      run: |
        npm run build:prod
      env:
        CI: true

  pr-change-file-check:
    name: PR Change File Check
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x] # Current and LTS. No history versions

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: NPM Setup
      run: |
        npm run init
      env:
        CI: true
    - name: Check change-file
      run: |
        npm run beachball:check
      env:
        CI: true

  pr-doc-build:
    name: PR Doc Build Check
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x] # Current and LTS. No history versions

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: NPM Setup
      run: |
        npm run init
      env:
        CI: true
    - name: Doc build
      run: |
        npm run docs:build
      env:
        CI: true

